.container{
height: 550px; width: 800px; 
 border:#3cb371 1px solid;
  background-color:#f5f5f5;
text-align: center;
border-radius: 10px;
}

.Firsttd{
	height: 100px;
	background-color:#4682b4;
	color:white;
	font-size: 20px;
	text-align: center;
}
table{
	height: 70%; 
	width: 100%;
	
}
.td1{

	width: 45%;
	font-size: 20px;
	font-weight:10px;
	color:#696969;
}
.td2{
	width: 45%;
}
.tr1{
	height: 50px;
}
.inputbox{
	height: 30px;
	width: 80%;
	border:#f5fffa 1.5px solid;
}
.submit{
	height: 25px;
	width: 8%;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: white;
	background-color:#1e90ff;
	border-radius: 4px;
}